html {
  font-family: 'Roboto';
  display: inline;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}


#container {
  max-width: 560px;
  max-height: 560px;
  margin: auto;
  overflow: hidden;
}

#parameters {
  display: block;
  text-align: center;
  margin: 10px;
}

#parameters button {
  display: inline;
}

#parameters p {
  display: inline;
}

.pixel {
  box-sizing: border-box;
  background-color: white;
  border: .5px;
  border-style: solid;
  border-color: black;
  max-height: auto;
  max-width: auto;
  height: 35px;
  width: 35px;
  float: left;
  opacity: 0;
}

.pixelBlack {
  background-color: black;
  opacity: 1;
}
